@font-face {
    font-family: 'Hooked on Booze';
    src: url('HookedonBooze.eot');
    src: url('HookedonBooze.eot?#iefix') format('embedded-opentype'),
        url('HookedonBooze.woff2') format('woff2'),
        url('HookedonBooze.woff') format('woff'),
        url('HookedonBooze.svg#HookedonBooze') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Round Pop';
    src: url('Round_Pop.eot');
    src: url('Round_Pop.eot?#iefix') format('embedded-opentype'),
        url('Round_Pop.woff2') format('woff2'),
        url('Round_Pop.woff') format('woff'),
        url('Round_Pop.svg#Round_Pop') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


