
@font-face {
    font-family: 'Hooked-on-Booze';
    src: url('../fonts/HookedonBooze.eot');
    src: url('../fonts/HookedonBooze.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HookedonBooze.woff2') format('woff2'),
        url('../fonts/HookedonBooze.woff') format('woff'),
        url('../fonts/HookedonBooze.svg#HookedonBooze') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Round-Pop';
    src: url('../fonts/Round_Pop.eot');
    src: url('../fonts/Round_Pop.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Round_Pop.woff2') format('woff2'),
        url('../fonts/Round_Pop.woff') format('woff'),
        url('../fonts/Round_Pop.svg#Round_Pop') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Basic Styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	  -webkit-box-sizing: border-box;
   }
a{
  text-decoration: none;
}
body {
  background: url(../img/bg_bday.png) no-repeat bottom center;
  background-size: cover;  
  font-family: 'Round-Pop', sans-serif; 
  font-size: 18px; 
  width: 100vw;
  height: 100vh; 
  color: white;
  display:flex; 
  overflow: hidden;
  justify-content: center;
}

/* Container slider */
/* ========================================================================== */

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/
.title_home{
  position: relative;
  z-index: 5;
}
#one h2{
  position: relative;
  z-index: 6;
  letter-spacing: 2px;
  color:#FFF7A4 ;
  line-height:25px;
}

.title{
  font-family: "Hooked-on-Booze";
  font-size: 15rem;
  position: relative;
  margin-top: -5px;
  color: #E0F55C;
  
}

#four .title{
  position: relative;
  letter-spacing: 6px;
}

.CSSgal {
	position: relative;
	overflow: hidden;
	height:100vh;
  width: 438px;/* Or set a fixed height */
  background: rgb(4,24,47);
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}
#one{
  background: url(../img/bg_1.png) no-repeat top center;
  background-size:cover;
}
#two{
  background: url(../img/bg_2.png) no-repeat top center;
  background-size:cover;
}
#three{
  background: url(../img/bg_3.png) no-repeat top center;
  background-size:cover;
}
#four{
  background: url(../img/bg_4.png) no-repeat top center;
  background-size:cover;
}
#five{
  background: url(../img/bg_5.png) no-repeat top center;
  background-size:cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div + div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #FAB6FF;
	position: absolute;
	width: 45px;
	height: 45px;
	line-height: 45px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.4;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a + a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 60px;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	background: #FAB6FF;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.CSSgal .bullets > a + a {
	background: rgba(255, 255, 255, 0.3); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(250, 182, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal > s:target ~ .bullets > * {
	background: rgba(255, 255, 255, 0.3);
}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {
	background: #FAB6FF;
}
#s2:target ~ .bullets > *:nth-child(2) {
	background: #FAB6FF;
}
#s3:target ~ .bullets > *:nth-child(3) {
	background: #FAB6FF;
}
#s4:target ~ .bullets > *:nth-child(4) {
	background: #FAB6FF;
}
#s5:target ~ .bullets > *:nth-child(5) {
	background: #FAB6FF;
}


/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal > s:target ~ .prevNext > * {
	visibility: hidden;
}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
	visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
	visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
	visibility: visible;
}
#s4:target ~ .prevNext > *:nth-child(4) {
	visibility: visible;
}
#s5:target ~ .prevNext > *:nth-child(5) {
	visibility: visible;
}


/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
#s2:target ~ .slider {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}
#s3:target ~ .slider {
	transform: translateX(-200%);
	-webkit-transform: translateX(-200%);
}
#s4:target ~ .slider {
	transform: translateX(-300%);
	-webkit-transform: translateX(-300%);
}
#s5:target ~ .slider {
	transform: translateX(-400%);
	-webkit-transform: translateX(-400%);
}
/* More slides? Add here more rules */


.CSSgal {
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2 {
  margin: auto;
	margin-top: 65vh;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 1.6rem;
  font-family: 'Round-Pop'; 
  text-align: center;
  letter-spacing: 3px;
  line-height: 2rem;
  width: 80%;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

.presents_image{
  position: absolute;
  margin: auto;
  z-index: 2;
}

.CSSgal .slider .txt-event{
  position: relative;
  width: 80%;
  margin: auto;
	word-spacing: 0.2em;
  font-family: 'Round-Pop'; 
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
  color: #FFF7A4;
} 

.CSSgal .slider .txt-event .number{color: #E0F55C;}

.CSSgal .slider .content-location{
  width: 65%;
  margin: auto;
	margin-top: 10vh;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.CSSgal .slider .content-location img{
  transform: rotate(-15deg);
  width: 50px;
}
.CSSgal .slider .content-location .place{
  color: #EF84D2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
}
.CSSgal .slider .content-location .location{
  color: #FFF7A4;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.CSSgal .slider .date{
  text-align: center;
  width: 80%;
  font-family: 'Round-Pop'; 
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
  transform: translateY(-50%);
  margin: auto;
  color: #E0F55C;
}

.CSSgal .slider .hour{
  text-align: center;
  font-family: 'Round-Pop'; 
  letter-spacing: 7px;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
  transform: translateY(-50%);
  margin: auto;
  color: #FFF7A4;
}

.CSSgal .slider .txt-sugerencia{
  color: rgba(255,255,255,0.6);
  font-family: 'Round-Pop'; 
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  color: #EF84D2;
}


.CSSgal .slider .txt3{
  position: relative;
  text-transform: uppercase; 
  letter-spacing: 3px;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
  transform: translateY(-50%);
  text-align: center;
  margin: auto;
  z-index: 5;
  color: #E0F55C;
}
.CSSgal .slider .txt3 span{
  font-family: 'Round-Pop';
}

.CSSgal .slider .recomendacion{
  position: relative;
  width: 80%;
  text-align: center;
  margin: auto;
  color:#FFF7A4;
}

.lifesaver_image{
  position: relative;
}

.CSSgal .slider .sub3{
  position: relative;
  color: #EF84D2;
  font-family: 'Round-Pop';
  letter-spacing: 1px;
  text-shadow: 0 2px 10px rgba(4,24,47,0.3);
  transform: translateY(-50%);
  text-align: center;
  font-size: 1rem;
  margin: auto;
  margin-top:10px;
}


.arrow_image{
  height: auto;
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.buttons_container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


.CSSgal .slider .btn-confirm{
  position: relative;
  width: 68%;
  min-width:200px;
  display: inline-flex;
  justify-content:flex-start;
  align-items: center;
  height: 40px;
  background:rgba(125, 190, 255, 0.1) ;
  border-radius: 30px;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  margin: 15px auto;
}
.CSSgal .slider .btn-confirm p{
  width: 80%;
  text-transform: uppercase;
  color: #FFF7A4;
  letter-spacing: 2px;
}

.capi_image{
  position: relative;
}




/* ==========================================================================
Media Queries
========================================================================== */
@media screen and (min-width: 17.5em){
  .title_home{
    width: 90%;
    top: 4%;
  }
  #one h2{
    margin-top: 71%;
    font-size: 1rem;
  }
  .title{
    font-size: 10rem;
    margin-top: 0px;
    letter-spacing: 5px;
  }
  .presents_image{
    top:24% ;
    left: 110%;
    width: 80%;
  }
  .CSSgal .slider .txt-event{
	  margin-top: 85%;
	  font-size: 2rem;
    line-height:4rem;
  } 
  .CSSgal .slider .txt-event .number{ font-size: 6rem;}
  .CSSgal .slider .content-location .place{
    font-size: 20px;
  }
  .CSSgal .slider .content-location .location{
    font-size: 16px;
  }
  .CSSgal .slider .date{
    font-size:9rem;
    line-height: 60px;
    margin-top: 11vh;
  }
  .CSSgal .slider .date span{font-size: 3.5rem;}

  .CSSgal .slider .hour{
    font-size:2.5rem;
    margin-top: 15px;
  }
  .CSSgal .slider .txt-sugerencia{
    margin-top:5px;
  }

  .lifesaver_image{
    width: 58%;
    margin-top:8%;
  }

  #four .title{
    font-size: 8rem;
    line-height: 95px;
    margin-top: 50px;
  }
  .CSSgal .slider .txt3{
  font-size:2rem;
  margin-top: 55%;
  line-height: 30px; 
  }
  .CSSgal .slider .txt3 span{
    font-size: 4rem;
  }
  .CSSgal .slider .recomendacion{
  font-size: 12px;
  margin-top: 20px;
  }
  #five .title{
    font-size: 5rem;
    line-height: 75px;
    margin-top: 30px;
  }
  #five .sub3{
    font-size: 1rem;
    margin-top: -10%;
  }
  .arrow_image{
    width: 50%;
    margin-top: 10px;
  }
  .CSSgal .slider .btn-confirm img{width:50px;}
  .CSSgal .slider .btn-confirm p{
    font-size: 22px;
  }
  .capi_image{
    width: 55%;
    margin-top:-2%;
  }
}

@media screen and (min-width: 33.125em) {
  .title_home{
    width: 100%;
    top:15%;
  }
  #one h2{
    margin-top:90%;
    font-size: 1rem;
  }
  .title{
    font-size: 14rem;
    margin-top: 0px;
    letter-spacing: 5px;
  }
  .presents_image{
    top:26% ;
    left: 105%;
    width: 90%;
  }
  .CSSgal .slider .txt-event{
	  margin-top: 95%;
	  font-size: 4rem;
    line-height:6rem;
  } 
  .CSSgal .slider .txt-event .number{ font-size: 8rem;}
  .CSSgal .slider .content-location .place{
    font-size: 26px;
  }
  .CSSgal .slider .content-location .location{
    font-size: 18px;
  }
  .CSSgal .slider .date{
    font-size:10rem;
    line-height: 80px;
    margin-top: 15vh;
  }
  .CSSgal .slider .date span{font-size: 4rem;}

  .CSSgal .slider .hour{
    font-size:3.5rem;
    margin-top: 15px;
  }
  .CSSgal .slider .txt-sugerencia{
    margin-top:30px;
  }
  .lifesaver_image{
    width: 80%;
    margin-top:13%;
  }
  #four .title{
    font-size: 13rem;
    line-height: 150px;
    margin-top: 50px;
  }
  .CSSgal .slider .txt3{
  font-size:4rem;
  margin-top: 70%;
  line-height: 60px; 
  }
  .CSSgal .slider .txt3 span{
    font-size: 6rem;
  }
  .CSSgal .slider .recomendacion{
  font-size: 12px;
  margin-top: 20px;
  }
  #five .title{
    font-size: 11rem;
    line-height: 115px;
    margin-top: 50px;
  }
  #five .sub3{
    font-size: 1rem;
    margin-top: -17%;
  }
  .arrow_image{
    width: 50%;
    margin-top: 30px;
  }
  .CSSgal .slider .btn-confirm img{width:70px;}
  .CSSgal .slider .btn-confirm p{
    font-size: 26px;
  }
  .capi_image{
    width: 65%;
    margin-top:10%;
  }
}

@media screen and (min-width: 60em){
  .title_home{
    width: 80%;
    top: 4%;
  }
  #one h2{
    margin-top: 30%;
    font-size: 1rem;
  }
  .title{
    font-size: 10rem;
    margin-top: -5px;
    letter-spacing:0;
  }
  .presents_image{
    top:24% ;
    left: 120%;
    width: 65%;
  }
  .CSSgal .slider .txt-event{
	  margin-top: 63%;
	  font-size: 1rem;
    line-height:2.5rem;
  } 
  .CSSgal .slider .txt-event .number{ font-size: 4rem;}

  .CSSgal .slider .content-location .place{
    font-size: 20px;
  }
  .CSSgal .slider .content-location .location{
    font-size: 16px;
  }
  .CSSgal .slider .date{
    font-size:5rem;
    line-height: 40px;
    margin-top: 13vh;
  }
  .CSSgal .slider .date span{font-size: 2.5rem;}

  .CSSgal .slider .hour{
    font-size:2rem;
    margin-top: 3vh;
  }
  .CSSgal .slider .txt-sugerencia{
    margin-top:3vh;
  }
  .lifesaver_image{
    width: 60%;
    margin-top:2%;
  }
  #four .title{
    font-size: 7rem;
    line-height: 100px;
    margin-top: 30px;
  }
  .CSSgal .slider .txt3{
  font-size:2.5rem;
  margin-top: 35%;
  line-height: 40px; 
  }
  .CSSgal .slider .txt3 span{
    font-size: 4rem;
  }
  .CSSgal .slider .recomendacion{
  font-size: 12px;
  margin-top: 30px;
  }
  #five .title{
    font-size: 7rem;
    line-height: 100px;
    margin-top: 30px;
  }
  #five .sub3{
    font-size: 1rem;
    margin-top: -17%;
  }
  .arrow_image{
    width: 30%;
    margin-top: 10px;
  }
  .CSSgal .slider .btn-confirm img{width:40px;}
  .CSSgal .slider .btn-confirm p{
    font-size: 18px;
  }
  .capi_image{
    width: 45%;
    margin-top:-10%;
  }
}


@media screen and (min-width: 80em){
  .title_home{
    width: 100%;
    top: 4%;
  }
  #one h2{
    margin-top: 75%;
    font-size: 1.2rem;
  }
  .title{
    font-size: 15rem;
    margin-top: -5px;
    letter-spacing:0;
  }
  .presents_image{
    top:26% ;
    left: 110%;
    width: 85%;
  }
  .CSSgal .slider .txt-event{
	  margin-top: 75%;
	  font-size: 2.2rem;
    line-height:5.5rem;
  } 
  .CSSgal .slider .txt-event .number{ font-size: 8rem;}

  .CSSgal .slider .content-location .place{
    font-size: 25px;
  }
  .CSSgal .slider .content-location .location{
    font-size: 18px;
  }
  .CSSgal .slider .date{
    font-size:10rem;
    line-height: 70px;
    margin-top: 13vh;
  }
  .CSSgal .slider .date span{font-size: 4rem;}

  .CSSgal .slider .hour{
    font-size:2.5rem;
    margin-top: 3vh;
  }
  .CSSgal .slider .txt-sugerencia{
    margin-top:30px;
  }

  .lifesaver_image{
    width: 75%;
    margin-top:13%;
  }

  #four .title{
    font-size: 11rem;
    line-height: 130px;
    margin-top: 50px;
  }
  .CSSgal .slider .txt3{
  font-size:3rem;
  margin-top: 60%;
  line-height: 50px; 
  }
  .CSSgal .slider .txt3 span{
    font-size: 6rem;
  }
  .CSSgal .slider .recomendacion{
    font-size: 12px;
    margin-top: 40px;
  }
  #five .title{
    font-size: 9rem;
    line-height: 95px;
    margin-top: 50px;
  }
  #five .sub3{
    font-size: 1rem;
    margin-top: -10%;
  }
  .arrow_image{
    width: 50%;
    margin-top: 20px;
  }
  .CSSgal .slider .btn-confirm img{width:60px;}
  .CSSgal .slider .btn-confirm p{
    font-size: 25px;
  }
  .capi_image{
    width: 70%;
    margin-top:-5%;
  }
}





/* ==========================================================================
  Helper classes
========================================================================== */

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

   